.gallaryFluid{
  
    & .gallaryBox{
        & .gallary{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            &:hover{
                &::after{
                    height: 100%;
                }
                &::before{
                    opacity: 5;
                    top: 50%;
                }
                & .cardHeading{
                   transform: translate(-50%,-50%);
                   bottom: 30%;
                }
            }
            &::after{
                content: '';
                width: 100%;
                height: 0%;
                background: linear-gradient(0deg, #0b5a7b 0, rgba(0, 0, 0, 0) 100%)!important;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.3s linear;
                border-radius: 8px;
            }
            &::before{
                transition: 0.3s ease-in-out;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(0deg, #000 0, rgba(255, 255, 255, 0) 100%);
                height: 130px;
                opacity: 0.7;
            }
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & .cardHeading{
                position: absolute;
                bottom: 0;
                font-size: 20px;
                color: #fff;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 20 !important;
                transition: all 0.3s ease-in-out;
                white-space: nowrap;
                
            }
        }
    }
}

// contact us 
.countUsScection{
    & .leftSectionContactus{
        & .ulStyle{
            & .ulList{
                & .mailSection{
                    & .contact-box{
                        & .mailHeading{
                            font-size:12px ;
                        }
                        & .mailSubheading{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        & .wilGetSection{
            & .willGetHeading{
                font-size: 18px;
                color: #343a40;
                letter-spacing: 0.2px;
            }
            & ul{
                & li{
                    font-size: 14px;
                }
            }
        }
    }
    & .rightSectionContactUs{
        & .formContact{
            & .fromSelect{
                background: none;
            }
            & .inputFrom{
                color: #000;
                font-size: 16px;
                font-weight: 500;
                border:1px solid #000;
                &::placeholder{
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                }
            }

        }
    }
}

// our value 
.readMoreBtn{
    background: linear-gradient(180deg, #139ed9, #0f7caa);
    font-size: 12px;
    color:white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: linear-gradient(180deg, #e09c19, #b27c14);
        color: white;

    }
}

.overValueSection{
    & .card-style{
        transition: all 0.3s ease-in-out;
        &:hover{
             box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            & .card-content{
                & .cardNumber{
                    color:#139ed9 !important;
                }
                & .cardHeading{
                    color: #e09c19;
                }
            }

        }
        & .card-content{
            & .card-icon{
                width: 60px;
                height: 60px;
            }
            & .cardNumber{
                color: #e09c19;
                font-size: 45px;
                transition: all 0.3s ease-in-out;
                
            }
            & .cardHeading{
                font-size: 25px;
                color: #139ed9 ;
                line-height: 35px;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
            }
            & .pera{
                color: #5a5454;
                font-size: 16px;
            }
        }
    }
}

// blogSection start

.newsSection {
    & .newsSectionMain {
        & .news-blog-card {
            & .news-img {
                aspect-ratio: 1/0.7;
                & .blog-img {
                    transition: all 0.3s ease-in-out;
                    object-fit: cover;
                    object-position: top;
                }
                & .news-plus {
                    top: 0%;
                    left:0;
                    // transform: translate(-50%);
                    transition: all 0.3s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                    height: 0%;
                    width: 100%;
                    background: rgba(black, .4);
                    & .newsPlusImg {
                        height: 20px;
                        width: 20px;
                    }
                }
                & .news-date {
                    font-size: 14px;
                    color: white;
                    padding: 16px 24px;
                    & span {
                        line-height: 16px;
                        font-size: 20px;
                    }
                }
            }
            & .news-content {
                padding:0 20px;
                    & .news-blog-heading {
                        // font-size: 22px;
                        font-size: 16px;
                        color: black;
                        transition: all 0.3s ease-in-out;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover {
                            color: black;
                        }
                    }
                    & .news-blog-para {
                        font-size: 16px;
                        color: black;
                        line-height: 23px;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .news-title {
                        font-size: 13px;
                        color: black;
                        transition: all 0.3s ease-in-out;
                        & .news-icon {
                            height: 15px;
                            width: 15px;
                            & img {
                                transition: all 0.3s ease-in-out;
                            }
                        }
                        &:hover {
                                color: black;
                                & .news-icon {
                                    & img {
                                        filter: brightness(0.1);
                                    }
                                }
                        }
                    }
                    & .news-slash {
                        font-size: 9px;
                        color: black;
                    }
                    & .readmore-btn {
                        font-size: 14px ;
                        transition:all 0.3s ease-in-out;    
                        color: theme2;
                        & .right-arrow {
                            height: 15px;
                            width: 15px;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                            color: black;          
                            & .right-arrow {
                                filter:brightness(0.4);
                                transform: translateX(5px);
                            }
                        }
                    }
            } 
            &:hover {
                & .blog-img {
                    transform: scale(1.1);
                }
                & .news-img {
                    & .news-plus {
                        height: 100%;  
                        opacity: 1;
                        visibility: visible;                  
                    }
                }
            }
        }
    }
}
