.gallaryFluid{
  
    & .gallaryBox{
        & .gallary{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            &:hover{
                &::after{
                    height: 100%;
                }
                &::before{
                    opacity: 5;
                    top: 50%;
                }
                & .cardHeading{
                   transform: translate(-50%,-50%);
                   bottom: 30%;
                }
            }
            &::after{
                content: '';
                width: 100%;
                height: 0%;
                background: linear-gradient(0deg, #0b5a7b 0, rgba(0, 0, 0, 0) 100%)!important;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.3s linear;
                border-radius: 8px;
            }
            &::before{
                transition: 0.3s ease-in-out;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(0deg, #000 0, rgba(255, 255, 255, 0) 100%);
                height: 130px;
                opacity: 0.7;
            }
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & .cardHeading{
                position: absolute;
                bottom: 0;
                font-size: 20px;
                color: #fff;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 20 !important;
                transition: all 0.3s ease-in-out;
                white-space: nowrap;
                
            }
        }
    }
}

// contact us 
.countUsScection{
    & .leftSectionContactus{
        & .ulStyle{
            & .ulList{
                & .mailSection{
                    & .contact-box{
                        & .mailHeading{
                            font-size:12px ;
                        }
                        & .mailSubheading{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        & .wilGetSection{
            & .willGetHeading{
                font-size: 18px;
                color: #343a40;
                letter-spacing: 0.2px;
            }
            & ul{
                & li{
                    font-size: 14px;
                }
            }
        }
    }
    & .rightSectionContactUs{
        & .formContact{
            & .fromSelect{
                background: none;
            }
            & .inputFrom{
                color: #000;
                font-size: 16px;
                font-weight: 500;
                border:1px solid #000;
                &::placeholder{
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                }
            }

        }
    }
}
// about us section start 
.aboutUs {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../img/aboutus/aboutushero.jpg");
    // background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(var(--topBgImg));

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    & .title {
        font-size: 60px;
        line-height: 65px;
        font-weight: 600;
        color: white;
    }
    & .aboutnav {
        & ol {
            & .navItem {
                & a {
                    font-size: 20px;
                    font-weight: 600;

                    color: white;
                    text-decoration: none;
                }
                font-size: 20px;
                font-weight: 600;
                color: white;
                position: relative;
                &::before {
                    // color: white;
                    display: none;
                }

                &.active {
                    color: white;
                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }
        }
    }
}

// ourStory section 
.ourStory{
    & .storyGridWrapper{
        & .storyGrid{
            height: 500px !important;
        }
    
    }
}

// our value 
.readMoreBtn{
    background: linear-gradient(180deg, #139ed9, #0f7caa);
    font-size: 12px;
    color:white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: linear-gradient(180deg, #e09c19, #b27c14);
        color: white;

    }
}

.overValueSection{
    & .card-style{
        transition: all 0.3s ease-in-out;
        &:hover{
             box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            & .card-content{
                & .cardNumber{
                    color:#139ed9 !important;
                }
                & .cardHeading{
                    color: #e09c19;
                }
            }

        }
        & .card-content{
            & .card-icon{
                width: 60px;
                height: 60px;
            }
            & .cardNumber{
                color: #e09c19;
                font-size: 45px;
                transition: all 0.3s ease-in-out;
                
            }
            & .cardHeading{
                font-size: 25px;
                color: #139ed9 ;
                line-height: 35px;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
            }
            & .pera{
                color: #5a5454;
                font-size: 16px;
            }
        }
    }
}

.ourMission{
    & .leftSection{
        & .overmissionImg{
            width: 300px;
            height: 300px;
        }
    }
}


.progress-images-group,.progress-images-group *,.col-solutions_carousel  ,.col-solutions_carousel  *{ -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;  }
  
  .progress-images-group .group-01 {
      z-index:  1;
      top: 111px;
  }
  
  .progress-images-group {
      height: 300px;
      position:  relative;
      width:  100%;
  }
  
  .progress-images-group [class*="group-"] {
      position:  absolute;
      /* top: 0; */
      right:  0;
      left:  0;
  }
  
  .progress-images-group {}
  
  .progress-images-group .group-02 {
          bottom: 61px;
      height: 38px;
      overflow: hidden;
      z-index: 0;
  }
  .progress-images-group .group-03 {
      z-index: -1;
  }
  
  .progress-images-group .group-03 {
      top: 206px;
  }
  
  .progress-images-group:hover .group-01{ top: 50px;  }
  .progress-images-group:hover .group-02 {
      bottom: 61px;
      height: 116px;
      overflow: hidden;
  }
  
  
  .title_pro {
      position: absolute;
      top: 74px;
      font-size: 16px;
      width: 100%;
      text-align: center;
      font-weight: bold;
  }
  .progress-images-group:hover .title_pro {
  
      top: 0px;}
  
      .border-hr{ position: relative; margin-top: 2em; }
      .border-hr:after{ background-image: url(../images/border.png); height: 80px; background-repeat: no-repeat; background-position: center; width: 100%; position: absolute;bottom: 0px;}
  
  
  
      .product-box ,     .product-box *{ -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
  .product-box {
      background-repeat:  no-repeat;
      background-size:  cover;
      padding: 30px 50px 10px;
      text-align:  center;    position: relative;
      overflow: hidden;height: 472px;
      background-color: #e77817;
      box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 55%);
  }
  
  .producr-img {
      padding-top: 40px;
  }
      .product-box h3 {
      font-size: 30px;
      /*font-weight: bold;*/
      color: #fff;    margin-bottom: 5px;
      line-height: 52px;
  }
      .product-box p {
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      line-height: 26px;
  }